body{
  margin: 0px;
  background-color: #FEFEFE;
  font-family: sans-serif;
  position: relative;
}

.carousel-container {
  width: 100%;
  padding: 50px 0;
  background-color: #022D41;
  position: relative;
}

.carousel-container img {
  object-fit: cover;
  width: 100%;
}

nav {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav a {
  display: inline;
  font-size: 26px;
  background: white;
  width: 160px;
  text-align: center;
}



h1{
  font-size: 3em;
}

p{
  font-size: 1.5em;
}

a {
  color: inherit;
  text-decoration: inherit;
}



footer {
  background-color: #333;
  color: #EEE;
  font-size: 16px;
  line-height: 42px;
  padding: 15px 10px 50px 40px;
  right: 0;
  left: 0;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer a {
  text-decoration: underline;
  color: inherit;
}


@media screen and (max-width: 900px) {
}

@media screen and (max-width: 544px) {
  footer {
    padding: 10px;
    font-size: 13px;
    line-height: 25px;
  }
}
